.main1{
    width: 1000px;
    height: 600px;
    
}
.submain0{
    float: left;
    width: 300px;
    height: 600px;
    background-color: green;
}
.submain1{
    float: right;
    width: 700px;
    height: 200px;
    background-color: yellow;
}
.submain2{
    float: right;
    width: 700px;
    height: 400px;
    background-color: blue;
}



.main2{
    width: 1200px;
    height: 1000px;
}

.submain3{
    float: right;
    width: 1200px;
    height: 250px;
    background-color: yellow;
}

.submain4{
    float: right;
    width: 250px;
    height: 600px;
    background-color: orange;
}

.submain5{
    float: right;
    width: 600px;
    height: 600px;
    background-color: blue;
}

.submain6{
    float: left;
    width: 350px;
    height: 600px;
    background-color: green;
}

.submain7{
    float: right;
    width: 1200px;
    height: 150px;
    background-color: rgb(188, 188, 255);
}
